<p style="color: green"><%= notice %></p>

<%= render @restaurant %>
<div class="container mb-4">
  <p><strong>Reviews</strong></p>
</div>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.rating %>
      <%= review.content %>
    </li>
  <% end %>
</ul>
<div class="container mt-5">
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
</div>
<div class="container mt-5">
    <%= link_to "â† Back to Restaurants", restaurants_path, class: "btn btn-secondary" %>
</div>
